<nav class="navbar navbar-inverse" data-ng-controller="NavbarCtrl as navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-ng-click="navbar.isCollapsed = !navbar.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
            <span class="glyphicon glyphicon-home"></span> Gulp Angular
        </a>
    </div>

    <div data-uib-collapse="navbar.isCollapsed" class="navbar-collapse">
        <ul class="nav navbar-nav">
            <!-- data-ng-href="home"-->
            <li data-ng-class="navbar.activeClass === 'Home' ? 'active' : ''" data-ng-click="navbar.activeClass = 'Home'"><a data-ng-href="#">Home</a></li>
            <!-- data-ng-href="about"-->
            <li data-ng-class="navbar.activeClass === 'About' ? 'active' : ''" data-ng-click="navbar.activeClass = 'About'"><a data-ng-href="#">About</a></li>
            <!-- data-ng-href="contact"-->
            <li data-ng-class="navbar.activeClass === 'Contact' ? 'active' : ''" data-ng-click="navbar.activeClass = 'Contact'"><a data-ng-href="#">Contact</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right nav-date">
            <li class="navbar-text">Current date: {{navbar.date | date:"yyyy-MM-dd"}}</li>
        </ul>
    </div>
</nav>
