<div class="modal-header">
    <h3 class="modal-title">Splendid..!!</h3>
    <div data-awesome></div>
</div>

<div class="modal-body">
    <ul>
        <li ng-repeat="item in modal.items">
            <a ng-click="modal.selected.item = item">{{item}}</a>
        </li>
    </ul>
    Selected: <b>{{modal.selected.item}}</b>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modal.ok()">OK</button>
    <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
